@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-control {
    @apply w-full rounded-md border-0 p-2 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6 focus:outline-none focus:ring-blue-600
  }

  .invalid-input {
    @apply text-red-500 ring-red-300 placeholder:text-red-400 focus:ring-red-600
  }

  .valid-input {
    @apply text-green-700 ring-green-700 placeholder:text-green-400 focus:ring-green-600
  }

  .btn-primary {
    @apply w-full rounded-md bg-blue-600 p-3 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 disabled:opacity-50 disabled:cursor-not-allowed
  }

  .btn-secondary {
    @apply flex items-center justify-center w-full rounded-md bg-gray-100 p-3 text-sm font-semibold text-black shadow-sm hover:bg-gray-200 disabled:opacity-50 disabled:cursor-not-allowed
  }

  .btn-sm {
    @apply p-2 text-sm
  }
}
